body {
    margin: 0;
    font-family: sans;
    font-size: 16px;
    color: #222;
    background-color: white;
}

button {
    margin: 0;
    padding: 0 10px;
    background-color: #eee;
}

#toolbar {
    display: flex;
    flex-wrap: wrap;
}

#toolbar button {
    height: 32px;
    border: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#content {
    padding: 20px;
}

#sheet {
    overflow-x: hidden;
}

.measure {
    float: left;
}

.frame {
    margin-bottom: -10px;
}

.measure textarea {
    width: 100%;
    height: 1em;
    overflow-y: scroll;
    scrollbar-width: none;
    white-space: pre;
    border: none;
    resize: none;
    font-size: 12px;
}

#picker {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#picker button {
    float: left;
    width: 200px;
    height: 32px;
}

#editor {
    width: 100%;
    height: 600px;
    white-space: pre;
}

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background-color: #222;
    }

    button {
        color: white;
        background-color: #555;
    }

    textarea {
        color: white;
        background-color: #222;
    }
}
