body {
    margin: 0;
    font-size: 15px;
    color: #222;
    background-color: white;
}

button {
    height: 32px;
    margin: 0;
    padding: 0 10px;
    border: 0;
    border-left: 1px solid;
    background-color: #eee;
}

#header {
    display: inline-block;
    border: 1px solid;
    border-top: 0;
}

#picker {
    margin: 0 5px;
    height: 32px;
    width: 200px;
    border: 0;
    outline: none;
    background-color: white;
}

#editor {
    display: block;
    width: 400px;
    height: 283px;
    overflow: scroll;
    white-space: pre;
    margin: 20px;
}

#sheet {
    margin-left: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.bar {
    margin-top: 20px;
    float: left;
}

.lyrics {
    padding-left: 10px;
    white-space: nowrap;
}

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background-color: #222;
    }

    button {
        color: white;
        background-color: #555;
    }

    #picker {
        color: white;
        background-color: #222;
    }

    #editor {
        color: white;
        background-color: #222;
    }
}
