body {
    margin: 0;
    font-family: sans;
    font-size: 16px;
    color: #222;
    background-color: white;
}

button {
    margin: 0;
    height: 32px;
    padding: 0 10px;
    background-color: #eee;
    font-size: 14px;
}

a {
    color: #222;
    text-decoration: none;
}

#content {
    padding: 20px;
}

#songlist {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

#sheet {
    overflow-x: hidden;
}

.measure {
    float: left;
}

.frame {
    margin-bottom: -10px;
}

.lyrics {
    padding-left: 8px;
    height: 32px;
}

#code {
    width: 100%;
    height: 600px;
    margin-top: 5px;
    white-space: pre;
}

#footer {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

#footer li {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

#footer li:not(:first-child):before {
  content: "|";
  margin-right: 15px;
  margin-left: -5px;
  font-weight: bold;
}

[hidden] {
    display:none !important;
}
